/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY OWN STYLES FROM HERE */

@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'Space Grotesk', sans-serif;
    font-size: calc(12px + 0.390625vw);
    color: #000000;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

header,footer {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: #000000;
    color: #E6FFF6;
}

header {
    justify-content: space-between;
    font-size: 2;
}

.logo {
    color: #E6FFF6;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-left: 5px;
    cursor: pointer;
}

.menu-item::after {
    content: '';
    width: 0%;
    height: 1px;
    margin-top: 5px;
    display: block;
    transition: all 0.3s ease;
}

.menu-item:hover::after {
    width: 100%;
    height: 1px;
    margin-top: 5px;
    background-color: #E6FFF6;
}

.menu-item-number {
    margin-left: 20px;
    color: #00A97F;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Esto hace que main ocupe todo el espacio restante después de header y antes de footer */
    gap: 5%;
}

section {
    /* padding-top: 6rem; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 5%;
}

.home {
    /* padding-top: 6rem; */
    width: 100%;
    background: url('../assets/images/circuit-primary.svg') no-repeat;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    flex-grow: 1;
    gap: 5%;
    margin-right: 4rem;
    min-height: 100vh;
}

.main-text {
    color: #01876C;
    line-height: 4rem;
    text-align: end;
    margin-bottom: 30%;
}

.main-text-name {
    color: #000000;
    font-size: 4rem;
}

.main-text-role {
    color: #01876C;
}

.home-image {
    width: 600px;
    height: auto;
}

/* About section */

.section-header {
    width: 100%;
    margin-bottom: 2rem;
}

.section-header-text {
    color: #01876C;
}

.section-header-title {
    color: #000000;
}

.section-header-line {
    width: 100%;
    height: 1px;
    /* margin-top: 0.5rem; */
    margin-bottom: 1.5rem;
    background-color: #00A97F;
}

#about-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 5%;
}

#about-body-image {
    width: 500px;
    height: auto;
}

.section-body-text {
    color: #000000;
    line-height: 2rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Stack section */

table {
    width: 100%;
    margin-bottom: 4rem;
}

th {
    width: 8rem;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #00A97F;
}

.section-body-table-body-cell-filled {
    position: relative;
    padding: 10px;
}

.section-body-table-body-cell-empty {
    position: relative;
    padding: 10px;
}

.section-body-table-body-cell-filled::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 5px;
    right: 5px;
    bottom: 15px;
    background-color: #00A97F;
}

.section-body-table-body-cell-empty::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 5px;
    right: 5px;
    bottom: 15px;
    background-color: #000000;
}

/* Projects section */

#projects-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}


#projects-body-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.project-div {
    margin-bottom: 4rem;
    width: 800px;
}

.project-div-top {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-title {
    margin-bottom: 1rem;
}

.project-div-top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    max-width: 70%;
}

.project-description {
    text-align: justify;
    line-height: 2rem;
}

.project-link-button {
    padding: 0.5rem 1rem;
    border: 1px solid #00A97F;
    border-radius: 5px;
    background-color: #00A97F;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.project-link-button:hover {
    background-color: #ffffff;
    color: #00A97F;
}

.project-div-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.project-image {
    width: 800px;
    height: auto;
    border: 8px solid #000000;
    border-radius: 20px;
    box-shadow: 0 10px 5px -4px rgba(0, 0, 0, 0.5);
}

/* Contact section */

#contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.contact-body-top {
    color: #000000;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.contact-body-bottom {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.contact-body-social {
    padding-left: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
}

.contact-body-text {
    color: #000000;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.contact-body-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00A97F;
    border-radius: 10px;
    padding: 2rem 4rem;
    background-color: #C8FCEA;
}

.form-field-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10%;
    padding: 1rem;
}

.contact-body-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-body-form-label {
    width: 30%;
    text-align: left;
    color: #000000;
    padding-top: 0.5rem;
}

.contact-body-form-input {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #52BD9F;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.contact-body-form-input:focus {
    outline: none;
    border: 2px solid #00A97F;
}

.contact-body-form-textarea {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #52BD9F;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.contact-body-form-textarea:focus {
    outline: none;
    border: 2px solid #00A97F;
}

.contact-body-form-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #00A97F;
    border-radius: 5px;
    background-color: #00A97F;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.contact-body-form-button:hover {
    background-color: #ffffff;
    color: #00A97F;
}

.social-img {
    width: 50px;
    height: auto;
    transition: all 0.3s ease;
}

.social-img:hover {
    transform: scale(1.2);
}

/* footer */

footer {
    justify-content: center;
}

.credits {
    text-align: center;
}

/* Style the link to remove default styling */
.github-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* Add the hover effect */
.github-icon {
    transition: transform 0.5s ease-in-out; /* Add a transition for the transform property */
}

.github-link:hover .github-icon {
    transform: rotate(180deg); /* Rotate the icon 180 degrees when hovered */
}