/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY OWN STYLES FROM HERE */

@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

body {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    font-family: 'Space Grotesk', sans-serif;
    font-size: calc(12px + 0.390625vw);
    color: #ffffff;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

header,footer {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: #232323;
}

header {
    justify-content: space-between;
    font-size: 2;
}

.logo {
    color: #fee400;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-left: 5px;
    cursor: pointer;
}

.menu-item::after {
    content: '';
    width: 0%;
    height: 1px;
    margin-top: 5px;
    display: block;
    transition: all 0.3s ease;
}

.menu-item:hover::after {
    width: 100%;
    height: 1px;
    margin-top: 5px;
    background-color: #fee400;
}

.menu-item-number {
    margin-left: 20px;
    color: #fee400;
}

footer {
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Esto hace que main ocupe todo el espacio restante después de header y antes de footer */
    gap: 5%;
}

.home {
    padding: 6rem 0;
    width: 100%;
    background: url('../assets/images/circuit-primary-2.svg') no-repeat;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    flex-grow: 1;
    gap: 5%;
    margin-right: 4rem;
}

.main-text {
    color: #03ff99;
    line-height: 4rem;
    text-align: end;
}

.main-text-name {
    color: #ffffff;
    font-size: 4rem;
}

.main-text-role {
    color: #ffffff;
}

.home-image {
    width: 600px;
    height: auto;
}

/* About section */

.about {
    padding: 6rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 5%;
}

.section-header {
    width: 100%;
}

#about-header-text {
    color: #ff652f;
}

#about-header-title {
    color: #ffffff;
}

.section-header-line {
    width: 100%;
    height: 1px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    background-color: #ffffff;
}

#about-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 5%;
}

#about-body-image {
    width: 440px;
    height: auto;
}

.section-body-text {
    color: #ffffff;
    line-height: 2rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* footer */

.credits {
    text-align: center;
}

/* Style the link to remove default styling */
.github-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* Add the hover effect */
.github-icon {
    transition: transform 0.5s ease-in-out; /* Add a transition for the transform property */
}

.github-link:hover .github-icon {
    transform: rotate(180deg); /* Rotate the icon 180 degrees when hovered */
}